<launch>

  <!-- Robot model -->
  <arg name="model" default="$(find mowbot_description)/urdf/rl500.urdf.xacro"/>

  <!-- Declare ntrip client arguments with default values -->
  <arg name="host"                   default = "rtk2go.com" />
  <arg name="port"                   default = "2101" />
<!--
  <arg name="mountpoint"             default = "PLSurePath" />
  <arg name="mountpoint"             default = "ARLINGTON-76017" />
-->
  <arg name="mountpoint"             default = "VN1" />
  <arg name="authenticate"           default = "true" />
  <arg name="username"               default = "paul.bouchier@gmail.com" />
  <arg name="password"               default = "none" />
  <arg name="rtcm_message_package"   default = "rtcm_msgs" />

  <!-- ****************************************************************** -->
  <!-- Start the robot comms node -->
  <!-- ****************************************************************** -->
  <node name="esp_link" pkg="mowbot_hardware" type="esp_link.py" output="screen" >
    <remap from="/odom" to="/odom_wheels" />
    <remap from="/tf" to="/tf_wheels" />
  </node>

  <!-- publish robot internal joint tf transforms -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <!-- ****************************************************************** -->
  <!-- NTRIP Client Node for RTK GPS corrections -->
  <!-- ****************************************************************** -->
  <node name="ntrip_client_node" pkg="ntrip_client" type="ntrip_ros.py" output="screen" ns="ntrip_client">

    <!-- Required parameters used to connect to the NTRIP server -->
    <param name="host"       value="$(arg host)" />
    <param name="port"       value="$(arg port)" />
    <param name="mountpoint" value="$(arg mountpoint)" />
    <param name="rtcm_message_package" value="$(arg rtcm_message_package)" />

    <!-- If this is set to true, we will read the username and password and attempt to authenticate. If not, we will attempt to connect unauthenticated -->
    <param name="authenticate" value="$(arg authenticate)" />

    <!-- If authenticate is set to true, we will use these to authenticate with the server -->
    <param name="username" value="$(arg username)" />
    <param name="password" value="$(arg password)" />

    <!-- Not sure if this will be looked at, but this frame ID will be added to the RTCM messages publishe by this node -->
    <param name="rtcm_frame_id" value="odom" />

    <!-- Uncomment the following section and replace "/gx5/nmea/sentence" with the topic you are sending NMEA on if it is not the one we requested -->
    <remap from="/ntrip_client/nmea" to="/nmea" />
  </node>

  <!-- Start the ublox node -->
  <include file="$(find ublox_gps)/launch/ublox_device.launch">
    <arg name="param_file_dir" value="$(find mowbot_hardware)/cfg" />
    <arg name="param_file_name"  value="zed_f9p" />
    <arg name="node_name" value="gps" />
  </include>

  <!-- Start the LLA to UTM to Odometry converter nodes -->
  <include file="$(find utm_lla)/launch/coordinate_convertion.launch" />
  <include file="$(find mowbot_bringup)/launch/utm2odom.launch" />

</launch>
