#!/usr/bin/env python
PACKAGE = "mowbot_hardware"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
log_lvl_enum = gen.enum([ gen.const("Silent",      int_t, 0, "No logs"),
                       gen.const("Fatal",     int_t, 1, "Fatal"),
                       gen.const("Error",      int_t, 2, "Error"),
                       gen.const("Warning", int_t, 3, "Warning"),
                       gen.const("Info", int_t, 4, "Info"),
                       gen.const("Trace", int_t, 5, "Trace"),
                       gen.const("Verbose", int_t, 6, "Verbose")],
                     "An enum to set logger level")

gen.add("pilink_log_lvl", int_t, 0, "PiLink: print logs above:", 4, 0, 6, edit_method=log_lvl_enum)
gen.add("rl500_log_lvl", int_t, 0, "PiLink: print logs above:", 4, 0, 6, edit_method=log_lvl_enum)
gen.add("odom_log_lvl", int_t, 0, "PiLink: print logs above:", 4, 0, 6, edit_method=log_lvl_enum)
gen.add("use_pid", bool_t, 0, "Use PID", False)
gen.add("pid_p", double_t, 0, "PID Proportional Gain", 1, 0.1, 2)
gen.add("pid_i", double_t, 0, "PID Integral Gain", 1, 0.1, 2)
gen.add("pid_d", double_t, 0, "PID Derivative Gain", 1, 0.1, 2)
gen.add("rl500_bit_mode", bool_t, 0, "Set BIT mode on RL500", False)
gen.add("esp_reboot", bool_t, 0, "Reboot Esp32", False)

exit(gen.generate(PACKAGE, "mowbot_hardware", "Mowbot"))
